.movies{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
  place-items: center;
  gap:  1.5rem;
  row-gap: 3rem;
    color:$l-text;
    @import "./singleMovie/singleMovie";
    animation: fade 1s ease ;
}