$l-pr:#75299b;  
$l-pr-txt:rgb(240, 240, 253);
$l-pr-btn:#202040;  
$l-text:hsl(274,84,98);
$l-text-v:hsl(274,84,88);
$l-bg:#202040;
$l-bg-txt:#f6e9fcf1;
$l-success:#64BC26;
$l-fail:#EA1601 ;
$l-warning:#FAD202 ;
$l-black: rgb(255, 255, 255);
$l-warning-txt : #FAD202;
