$l-pr:hsl(274,84,59);
$l-pr-txt:hsl(274,84,59);
$l-pr-btn:hsl(274,84,98);  
$l-text:hsl(274,84,10);
$l-text-v:hsl(274,84,30);
$l-bg:hsl(274,84,98);
$l-bg-txt:hsl(274,84,98);
$l-success:#64BC26;
$l-fail:#EA1601 ;
$l-warning:#FAD202 ;
$l-black: rgb(0, 0, 0);
$l-warning-txt : hsl(274,84,59);
