.empty{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 0;
    
@keyframes fade-img {
    0%{
        opacity: 0;
        transform: translateY(10%);
    } 
    100%{
        opacity: .75;
        transform: translateY(0%);
    } 
}
@keyframes fade-img-notfound {
    0%{
        opacity: 0;
        transform: translateY(10%) scale(.8);
    } 
    100%{
        opacity: .75;
        transform: translateY(0%)  scale(.8);
    } 
}
    img{
    width: 30%;
    height: 100%;
    opacity: 0.75;
    margin-bottom: 2rem;
        &.dark-img{
            filter: invert(1);
        }
        animation: fade-img 1s ease;
        &.notfound-img{
            transform: scale(.8);
            animation: fade-img-notfound 1s ease;
            
        }

    }
    p{
        color: $l-text;
        font-size: 2.25rem;
        text-transform: capitalize;
        text-align: center;
        line-height: 140%;
        opacity: .95;
        letter-spacing: 1px;
        animation: fade 1.5s ease ;

    }
    animation: fade 1s ease;
 
}
.useless{
    padding: -2rem 0 !important;
}
@media (max-width:1000px){
    .empty{
        img{
            width: 30%;
        }
        padding-bottom:0;
    }
}
@media (max-width:600px){
    .empty{
        img{
            width: 50%;
        }
    }
}